@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

.cabecalho__candidatura {
    @apply flex justify-between flex-col xl:flex-row ml-2 md:ml-0;
}

.cabecalho__candidatura p {
    @apply text-4xl font-bold;
    font-family: "Roboto Slab", serif;
    color: #6c419a;
}

.cabecalho__candidatura select {
    @apply text-white rounded-lg p-2;
    background-color: #6c419a;
}

.cabecalho__candidatura .botao_salvar {
    @apply p-2 text-white font-bold;
    background-color: #6c419a;
}

.hr_solicitacoes {
    @apply mb-3 mt-2 border-black;
}

.candidaturas {
    @apply flex flex-col;
}

.container__candidato {
    @apply flex flex-col xl:flex-row xl:items-center xl:justify-between xl:w-full xl:h-44 mb-5;
    background-color: #7d387c;
}

.info_candidatura {
    @apply flex p-5;
}

.info_candidatura img {
    @apply w-32 h-32 rounded-full self-center;
}

.container__dadosCandidato {
    @apply text-white ml-3;
}

.container__candidato .nome_candidato {
    @apply font-bold;
}

.status_candaditura {
    @apply flex xl:flex-col flex-row justify-between w-full xl:w-auto h-full p-2;
}

.status_candaditura .status {
    @apply xl:self-end self-center font-bold;
}

.status_candaditura .status span {
    @apply ml-1;
}

.status_candaditura button{
    @apply text-white font-bold text-center p-2 rounded-lg w-32;
    background-color: #6c419a;
}