.barra_filtros {
    @apply flex flex-col justify-center items-center md:flex-row md:justify-around w-full md:mb-2;
    background-color: #d9d9d9;
}

.barra_filtros select {
    @apply p-2 text-white w-28 rounded-xl m-3;
    background-color: #6c419a;
}

.barra_filtros .select-items{
    background-color: aqua;
} 

.barra_filtros .multiselect {
    @apply w-full overflow-x-scroll overflow-y-visible;
    /*white-space: nowrap;
    overflow-x: scroll;
    overflow-y: visible;
    width: 250px;*/
}

/*.Select-multi-value-wrapper { white-space: nowrap; text-overflow: ellipsis; overflow-y: visible; overflow-x: hidden; width: 250px; }*/

/*.Select-multi-value-wrapper { white-space: nowrap; overflow-x: scroll; width: 250px; }*/

.barra_filtros option {
    background-color: #9e7cc2;
}

.barra_filtros span {
    @apply p-1 text-white;
    background-color: #6c419a;
}

.barra_filtros label {
    @apply ml-1;
}