#root {
    height: 100%;
}

.form__login {
    width: 50%;
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
}

.div_login h1 {
    color: #780ba4;
    font-size: 40px;
}

.div_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.inputs input {
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
}

.esqueci_senha {
    text-decoration: none;
    color: #780ba4;
}

.esqueci_senha:hover {
    text-decoration: underline;
}

.inputs button {
    background-color: #780ba4;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-weight: 700;
}

.inputs button:hover {
    cursor: pointer;
}