.menu_ {
    @apply absolute flex justify-between right-0 left-0 z-10;
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f2463;
    height: 50px;
}