.container_inputs {
    @apply flex justify-evenly;
    margin-top: 50px;
}

.container_inputs input {
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    /*height: 25px;*/
    padding: 5px;
}

.inputs_esquerda {
    display: flex;
    flex-direction: column;
}

.container_inputs select {
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

option {
    padding: 5px;
}

.inputs_direita {
    display: flex;
    flex-direction: column;
}

.flex_gap {
    @apply flex gap-3;
}

.botao_cadastro {
    @apply w-full flex justify-center;
}

.btn_finalizarCadastro {
    @apply p-2 rounded-lg w-80 mt-7 font-bold text-white;
    background-color: #6c419a;
}
