.container_inputs {
    @apply flex flex-col md:flex-row justify-evenly;
    margin-top: 50px;
}

.container_inputs input {
    @apply flex w-full md:w-auto;
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    /*height: 25px;*/
    padding: 5px;
}

.inputs_esquerda {
    @apply flex ml-3 mr-3 md:ml-0 md:mr-0;
    display: flex;
    flex-direction: column;
}

.container_inputs select {
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

option {
    padding: 5px;
}

.inputs_direita {
    @apply flex mt-10 md:mt-0 ml-3 mr-3 md:ml-0 md:mr-0;
    display: flex;
    flex-direction: column;
}

.flex_gap {
    @apply flex h-full  ;
}

.botao_cadastro {
    @apply w-full flex justify-center;
}

.btn_finalizarCadastro {
    @apply p-2 rounded-lg w-80 mt-7 mb-3 md:mb-0 font-bold text-white;
    background-color: #6c419a;
}
