.container_inputs {
    @apply flex justify-evenly;
    margin-top: 50px;
}

.container_inputs input {
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    /*height: 25px;*/
    padding: 5px;
}

.inputs_esquerda {
    display: flex;
    flex-direction: column;
}

select {
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 25px;
    padding: 5px;
}

option {
    height: 25px;
    padding: 5px;
}

.inputs_direita {
    display: flex;
    flex-direction: column;
}

.flex_gap {
    @apply flex gap-3;
}