.header {
    @apply flex flex-col justify-center items-center xl:gap-10 xl:flex-row;
    background-image: url('../../assets/other/header_temporario.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

.descricao {
    @apply flex flex-col self-center text-white xl:mt-8 mr-8 ml-8 mb-8 xl:mb-0;
}

h1 {
    @apply font-bold text-xl;
}

.header_img {
    @apply w-full max-h-96;
}

.container_logo {
    @apply h-96 flex flex-col justify-center items-center;
}

.logotipo {
    @apply h-60 max-w-60 xl:h-72 xl:max-w-72 md:h-64 md:max-w-64 xl:ml-8 mt-8;
}