.container_opcao_selecionada {
    @apply relative top-16 w-6/12;
}

.inputs_editar_dados input {
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.inputs_editar_dados {
    @apply flex flex-col;
}

.inputs_editar_dados input {
    @apply w-full;
}

.inputs_editar_dados select {
    max-height: 44px;
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
}

.inputs_editar_dados .botao_deletarConta {
    @apply self-end p-2 bg-red-600 text-white;
}

option {
    padding: 5px;
}

.flex_gap {
    @apply flex gap-3;
}