.container_opcao_selecionada {
    @apply md:w-6/12 w-full relative md:top-16 md:p-0 p-8;
}

.inputs_editar_dados input {
    @apply w-full;
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.inputs_editar_dados input:disabled {
    background-color: #d1cfcf;
}

.inputs_editar_dados {
    @apply flex flex-col;
}

.inputs_editar_dados .escolher_img {
    @apply flex flex-col items-center mb-3;
}

.escolher_img .editar_fotoPerfil {
    @apply flex self-center mt-2 items-center p-1 text-white font-bold rounded-lg;
    background-color: #6c419a;
}

.editar_fotoPerfil p {
    @apply ml-1;
}

#input {
    display: none;
}

.inputs_editar_dados select {
    max-height: 44px;
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
}

.inputs_editar_dados .digitar_descricao {
    @apply h-44 p-2 resize-none mb-4 rounded-lg;
    background-color: #e1e1e1;
}

.inputs_editar_dados .botao_salvar {
    @apply self-end p-2 text-white mb-2 font-bold rounded-md;
    background-color: #6c419a;
}

.inputs_editar_dados .botao_deletarConta {
    @apply self-end p-2 bg-red-600 text-white mb-2 font-bold rounded-md;
}

option {
    padding: 5px;
}

.flex_gapEditar {
    @apply flex gap-3;
}

.flex_gapEditar div {
    @apply w-full;
}

.flex_gapEditar select {
    @apply w-full;
}