.container_opcao_selecionada {
    @apply relative top-16 w-6/12;
}

.inputs_editar_dados input {
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    /*height: 25px;*/
    padding: 5px;
}

.inputs_editar_dados {
    display: flex;
    flex-direction: column;
}

.inputs_editar_dados input {
    width: 100%;
}

.inputs_editar_dados select {
    background-color: #eae8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    width: 50%;
}

option {
    padding: 5px;
}

.flex_gap {
    @apply flex gap-3;
}